body {
	color: #495057;
	font-family: Lora, serif;
	font-size: 0.875rem;
	background: #f8f9fa;
}

/* ----------------------- */
.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}

/* ----------------------- */
[class*='__container'] {
	max-width: 83.125rem;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
	margin: 0 auto;
}

/* ----------------------- */
main {
	flex: 1 1 auto;
}

/* ----------------------- */
.category {
	background: rgba(255, 255, 255, 0.15);
	border-radius: 0.5rem;
	padding: 0.3125rem 0.625rem;
	display: inline-block;
	color: #fff;
	font-family: Roboto, sans-serif;
	font-size: 0.625rem;
	line-height: 120%;
	font-weight: 700;
	text-transform: uppercase;
	transition: all 0.3s;
}

.category:hover {
	background: rgba(255, 255, 255, 0.5);
}

/* ----------------------- */
.title {
	font-weight: 700;
	font-size: 2.25rem;
	line-height: 127.777778%;
	color: #fff;
	/* text-shadow: 2px 2px 20px #343434, 5px 5px 5px #000000; */
}

.title_dark {
	color: #495057;
}

/* ----------------------- */
.text {
	font-size: 0.75rem;
	line-height: 166.666667%;
}

/* ----------------------- */

.big-post {
	position: relative;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
	color:#fff ;
}
.big-post__container {
	position: relative;
	display: grid;
	justify-items: center;
	z-index: 2;
	gap: .8125rem;
}
.big-post__category {
}
.category {
}
.big-post__title {
	max-width: 33.125rem ;
}
.title {
}
.big-post__link-title {
}
.big-post__text {
	color: #e5e5e5;
	max-width: 26.25rem;
}
.text {
}
.big-post__author {
}
.big-post__bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
background-color: #343a40;
}
.big-post__bg img{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
	opacity: 0.5;
}

/* ------------------- */
.home__related {
}
.related {
}
.related__container {
}
.related__title {
}
.title {
}
.title_dark {
}
.related__items {
}
.related__item {
}
.item-related {
}
.item-related__category {
}
.category {
}
.item-related__content {
}
.item-related__date {
}
.item-related__title {
}
.item-related__text {
}
.text {
}
.item-related__image {
}