body{
    color: #495057;
    font-family: Lora, serif;
    font-style: .875rem;
    background-color: #f8f9fa;
}

.wrapper{
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}

[class*="__container"]{
    max-width: 83.125rem;
    padding-left:.9375rem ;
    padding-right: .9375rem;
    margin: 0 auto;
}